<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scau.client.mapper.AquariumActivityUserMapper">

    <resultMap id="BaseResultMap" type="edu.scau.client.domain.AquariumActivityUser">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="activityId" column="activity_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="isPay" column="is_pay" jdbcType="INTEGER"/>
        <result property="isCheck" column="is_check" jdbcType="INTEGER"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,activity_id,user_id,
        is_pay,is_check,comment
    </sql>

    <insert id="insert" parameterType="edu.scau.client.domain.AquariumActivityUser" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        insert into aquarium_activity_user
            (activity_id, user_id, is_pay, is_check, comment)
        values (#{activityId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{isPay,jdbcType=INTEGER},
                #{isCheck,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="edu.scau.client.domain.AquariumActivityUser" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        insert into aquarium_activity_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityId != null">activity_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="isPay != null">is_pay,</if>
            <if test="isCheck != null">is_check,</if>
            <if test="comment != null">comment,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityId != null">#{activityId,jdbcType=BIGINT},</if>
            <if test="userId != null">#{userId,jdbcType=BIGINT},</if>
            <if test="isPay != null">#{isPay,jdbcType=INTEGER},</if>
            <if test="isCheck != null">#{isCheck,jdbcType=INTEGER},</if>
            <if test="comment != null">#{comment,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="edu.scau.client.domain.AquariumActivityUser">
        update aquarium_activity_user
        <set>
            <if test="activityId != null">activity_id = #{activityId,jdbcType=BIGINT},</if>
            <if test="userId != null">user_id = #{userId,jdbcType=BIGINT},</if>
            <if test="isPay != null">is_pay = #{isPay,jdbcType=INTEGER},</if>
            <if test="isCheck != null">is_check = #{isCheck,jdbcType=INTEGER},</if>
            <if test="comment != null">comment = #{comment,jdbcType=VARCHAR},</if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from aquarium_activity_user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByActivityIdAndUserId">
        delete
        from aquarium_activity_user
        where activity_id = #{arg0,jdbcType=BIGINT} and user_id = #{arg1,jdbcType=BIGINT}
    </delete>

    <select id="selectByActivityId" resultType="edu.scau.client.domain.AquariumActivityUser">
        select
        <include refid="Base_Column_List"/>
        from aquarium_activity_user
        where activity_id = #{arg0,jdbcType=BIGINT}
    </select>

    <select id="selectByPrimaryKey" resultType="edu.scau.client.domain.AquariumActivityUser"
            parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from aquarium_activity_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByActivityIdAndUserId" resultType="edu.scau.client.domain.AquariumActivityUser">
        select
        <include refid="Base_Column_List"/>
        from aquarium_activity_user
        where activity_id = #{arg0,jdbcType=BIGINT} and user_id = #{arg1,jdbcType=BIGINT}
    </select>
    <select id="selectByUserId" resultType="edu.scau.client.domain.AquariumActivityUser">
        select
        <include refid="Base_Column_List"/>
        from aquarium_activity_user
        where user_id = #{arg0,jdbcType=BIGINT}
    </select>


</mapper>
